[submodule "moba"]
	path = moba
	url = git@github.com:helmizu/moba.git
[submodule "admin-moba"]
	path = admin_moba
	url = git@github.com:helmizu/admin_moba.git
[submodule "API-Moba"]
	path = API_Moba
	url = git@github.com:helmizu/API_Moba.git
