[submodule "moba"]
	path = moba
	url = git@git.arkademy.com:muhammad_fajar_25rpl/moba.git
[submodule "admin-moba"]
	path = admin-moba
	url = git@git.arkademy.com:helmizu/admin-moba.git
[submodule "API-Moba"]
	path = API-Moba
	url = git@git.arkademy.com:helmizu/API-Moba.git
